@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500&display=swap");
html {
  width: 100%;
  height: 100%;
  font-size: 62.5%; }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 45%; } }
  @media only screen and (max-width: 350px) {
    html {
      font-size: 40%; } }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: border-box; }

a {
  text-decoration: none; }

body {
  font-family: 'Montserrat', sans-serif; }

@media only screen and (min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 10px; }
  ::-webkit-scrollbar-track {
    background: #f1e5c0; }
  ::-webkit-scrollbar-thumb {
    background: #30271c;
    border-radius: 5px; } }

.zindexPlus {
  z-index: 5; }

.zindexMinus {
  z-index: 4; }

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 4rem 10rem;
  transition: all 0.4; }
  @media only screen and (max-width: 1280px) {
    header {
      padding: 4rem 7rem; } }
  @media only screen and (max-width: 1024px) {
    header {
      padding: 2rem 5rem; } }
  header .logoContainer {
    width: 10rem;
    height: 10rem;
    z-index: 20;
    transition: all 0.4s; }
    header .logoContainer img {
      width: 100%;
      height: 100%;
      transition: all 0.4s; }
  header .navigation {
    height: 10rem;
    display: flex;
    align-items: center;
    z-index: 20;
    transition: all 0.4s;
    /* 
        * Shopping cart
    */
    /* 
        * Burger navigation 
    */ }
    header .navigation .shoppingCart {
      margin-right: 20px;
      width: 30px;
      height: 25px; }
      header .navigation .shoppingCart img {
        width: 100%;
        height: 100%; }
    header .navigation .burgerNav {
      display: block; }
      header .navigation .burgerNav span {
        display: block;
        width: 30px;
        height: 3px;
        margin-bottom: 5px; }
        @media only screen and (max-width: 1024px) {
          header .navigation .burgerNav span {
            width: 35px;
            margin-bottom: 6px; } }
        header .navigation .burgerNav span:last-of-type {
          margin-bottom: 0; }
    header .navigation .whiteBurger span {
      background-color: #eee; }
    header .navigation .blackBurger span {
      background-color: #30271c; }

.headerScroll {
  padding-top: 1rem;
  padding-bottom: 0;
  z-index: 19;
  background-color: rgba(241, 229, 192, 0.8);
  border-bottom: 1px solid #30271c; }
  .headerScroll .logoContainer {
    width: 7rem;
    height: 7rem;
    z-index: 20; }
    .headerScroll .logoContainer img {
      width: 100%;
      height: 100%; }
  .headerScroll .navigation {
    height: 8rem; }

.sideBar__container {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-color: rgba(241, 229, 192, 0.9);
  z-index: 21;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  padding: 8rem 0rem 2rem 0rem;
  border-left: 1px solid #30271c;
  /* 
    Close sidebar button
  */
  /* 
    Sidebar navigation
  */ }
  @media only screen and (max-width: 1024px) {
    .sideBar__container {
      padding: 6rem 0rem 2rem 0rem; } }
  .sideBar__container .closeSidebar {
    width: 20px;
    height: 20px;
    opacity: 0; }
    @media only screen and (max-width: 1024px) {
      .sideBar__container .closeSidebar {
        align-self: flex-end;
        margin-right: 40px; } }
    .sideBar__container .closeSidebar img {
      width: 100%;
      height: 100%; }
  .sideBar__container .sideBar__navigation {
    list-style: none; }
    .sideBar__container .sideBar__navigation-item {
      text-align: center;
      margin-bottom: 4rem; }
      .sideBar__container .sideBar__navigation-item--link {
        color: #30271c;
        font-weight: 400;
        font-size: 1.8rem;
        padding: 1rem 0;
        position: relative;
        opacity: 0; }
        @media only screen and (max-width: 1024px) {
          .sideBar__container .sideBar__navigation-item--link {
            font-size: 2.1rem; } }
        .sideBar__container .sideBar__navigation-item--link::after {
          position: absolute;
          content: '';
          height: 1px;
          width: 0;
          bottom: 0;
          left: 0;
          transition: width 0.4s;
          background-color: #30271c; }
      .sideBar__container .sideBar__navigation-item .sideBar__navigation-item--link:hover.sideBar__navigation-item--link::after {
        width: 100%; }
  .sideBar__container .coffeeIcons {
    display: flex; }
    .sideBar__container .coffeeIcons img {
      width: 4rem;
      height: 4rem;
      opacity: 0;
      transform: translateY(5px); }
  .sideBar__container .sideBar__copyright {
    font-weight: 300;
    font-size: 1rem;
    opacity: 0;
    transform: translateY(5px); }
    @media only screen and (max-width: 1024px) {
      .sideBar__container .sideBar__copyright {
        font-size: 1.5rem; } }

.homepageContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  z-index: 2;
  /* 
    * Styles for images on homepage
  */
  /* 
    * Styles for first image on homepage
  */
  /* 
    * Styles for second image on homepage
  */
  /* 
    * Styles for third image on homepage
  */ }
  @media only screen and (max-width: 1024px) {
    .homepageContainer {
      flex-direction: column; } }
  .homepageContainer .homepage__shape-1,
  .homepageContainer .homepage__shape-2,
  .homepageContainer .homepage__shape-3 {
    height: 100%;
    transition: all 0.7s;
    overflow: hidden;
    position: relative; }
    .homepageContainer .homepage__shape-1 img,
    .homepageContainer .homepage__shape-2 img,
    .homepageContainer .homepage__shape-3 img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .homepageContainer .homepage__shape-1 .homepage__shape-overlay,
    .homepageContainer .homepage__shape-2 .homepage__shape-overlay,
    .homepageContainer .homepage__shape-3 .homepage__shape-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      cursor: pointer; }
      .homepageContainer .homepage__shape-1 .homepage__shape-overlay-button,
      .homepageContainer .homepage__shape-2 .homepage__shape-overlay-button,
      .homepageContainer .homepage__shape-3 .homepage__shape-overlay-button {
        position: absolute;
        font-weight: 300;
        min-width: 150px;
        font-size: 2rem;
        letter-spacing: 2px;
        color: #eee;
        text-align: center;
        display: flex;
        padding: 1rem 0rem; }
        @media only screen and (max-width: 1024px) {
          .homepageContainer .homepage__shape-1 .homepage__shape-overlay-button,
          .homepageContainer .homepage__shape-2 .homepage__shape-overlay-button,
          .homepageContainer .homepage__shape-3 .homepage__shape-overlay-button {
            min-width: 140px; } }
        .homepageContainer .homepage__shape-1 .homepage__shape-overlay-button span,
        .homepageContainer .homepage__shape-2 .homepage__shape-overlay-button span,
        .homepageContainer .homepage__shape-3 .homepage__shape-overlay-button span {
          width: 100%;
          z-index: 1;
          padding: 0rem 1rem;
          text-align: center; }
        .homepageContainer .homepage__shape-1 .homepage__shape-overlay-button::before, .homepageContainer .homepage__shape-1 .homepage__shape-overlay-button::after,
        .homepageContainer .homepage__shape-2 .homepage__shape-overlay-button::before,
        .homepageContainer .homepage__shape-2 .homepage__shape-overlay-button::after,
        .homepageContainer .homepage__shape-3 .homepage__shape-overlay-button::before,
        .homepageContainer .homepage__shape-3 .homepage__shape-overlay-button::after {
          content: '';
          position: absolute;
          top: 0;
          width: 2px;
          height: 100%;
          background-color: #eee;
          transition: all 0.4s ease; }
        .homepageContainer .homepage__shape-1 .homepage__shape-overlay-button::after,
        .homepageContainer .homepage__shape-2 .homepage__shape-overlay-button::after,
        .homepageContainer .homepage__shape-3 .homepage__shape-overlay-button::after {
          right: 0; }
        .homepageContainer .homepage__shape-1 .homepage__shape-overlay-button:hover,
        .homepageContainer .homepage__shape-2 .homepage__shape-overlay-button:hover,
        .homepageContainer .homepage__shape-3 .homepage__shape-overlay-button:hover {
          transition: all 0.4s ease;
          letter-spacing: 1px;
          color: #30271c; }
          @media only screen and (max-width: 1024px) {
            .homepageContainer .homepage__shape-1 .homepage__shape-overlay-button:hover,
            .homepageContainer .homepage__shape-2 .homepage__shape-overlay-button:hover,
            .homepageContainer .homepage__shape-3 .homepage__shape-overlay-button:hover {
              color: #eee;
              letter-spacing: 2px; } }
          .homepageContainer .homepage__shape-1 .homepage__shape-overlay-button:hover:before, .homepageContainer .homepage__shape-1 .homepage__shape-overlay-button:hover:after,
          .homepageContainer .homepage__shape-2 .homepage__shape-overlay-button:hover:before,
          .homepageContainer .homepage__shape-2 .homepage__shape-overlay-button:hover:after,
          .homepageContainer .homepage__shape-3 .homepage__shape-overlay-button:hover:before,
          .homepageContainer .homepage__shape-3 .homepage__shape-overlay-button:hover:after {
            width: 51%; }
            @media only screen and (max-width: 1024px) {
              .homepageContainer .homepage__shape-1 .homepage__shape-overlay-button:hover:before, .homepageContainer .homepage__shape-1 .homepage__shape-overlay-button:hover:after,
              .homepageContainer .homepage__shape-2 .homepage__shape-overlay-button:hover:before,
              .homepageContainer .homepage__shape-2 .homepage__shape-overlay-button:hover:after,
              .homepageContainer .homepage__shape-3 .homepage__shape-overlay-button:hover:before,
              .homepageContainer .homepage__shape-3 .homepage__shape-overlay-button:hover:after {
                width: 2px; } }
  .homepageContainer .homepage__shape-1 {
    width: 40vw;
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%); }
    @media only screen and (max-width: 1024px) {
      .homepageContainer .homepage__shape-1 {
        width: 100vw;
        clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%); } }
    @media only screen and (max-height: 700px) and (max-width: 500px) {
      .homepageContainer .homepage__shape-1 .homepage__shape-overlay {
        padding-top: 100px; } }
    .homepageContainer .homepage__shape-1 .homepage__shape-overlay-button {
      bottom: 20rem;
      left: 10rem; }
      @media only screen and (max-width: 1280px) {
        .homepageContainer .homepage__shape-1 .homepage__shape-overlay-button {
          left: 7rem; } }
      @media only screen and (max-width: 1024px) {
        .homepageContainer .homepage__shape-1 .homepage__shape-overlay-button {
          left: 5rem;
          bottom: 10rem; } }
  .homepageContainer .homepage__shape-1:hover {
    width: 50vw;
    clip-path: polygon(0 0, 60% 0, 100% 100%, 0 100%); }
    @media only screen and (max-width: 1024px) {
      .homepageContainer .homepage__shape-1:hover {
        width: 100vw;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); } }
  .homepageContainer .homepage__shape-2 {
    width: 80vw;
    clip-path: polygon(0 0, 70% 0, 100% 100%, 25% 100%);
    margin-left: -250px; }
    .homepageContainer .homepage__shape-2 .homepage__shape-overlay-button {
      bottom: 50%;
      left: 50%;
      transform: translate(-50%); }
    @media only screen and (max-width: 1024px) {
      .homepageContainer .homepage__shape-2 {
        width: 100vw;
        margin-left: 0;
        clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
        height: 200%;
        margin-top: -110px; } }
  .homepageContainer .homepage__shape-2:hover {
    width: 100vw;
    clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%); }
    @media only screen and (max-width: 1024px) {
      .homepageContainer .homepage__shape-2:hover {
        width: 100vw;
        clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%); } }
  .homepageContainer .homepage__shape-3 {
    width: 50vw;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 47% 100%);
    margin-left: -300px; }
    .homepageContainer .homepage__shape-3 .homepage__shape-overlay-button {
      bottom: 20rem;
      right: 10rem;
      transform: translateY(-50%); }
      @media only screen and (max-width: 1280px) {
        .homepageContainer .homepage__shape-3 .homepage__shape-overlay-button {
          right: 7rem; } }
      @media only screen and (max-width: 1024px) {
        .homepageContainer .homepage__shape-3 .homepage__shape-overlay-button {
          right: 5rem;
          bottom: 10rem; } }
      @media only screen and (max-height: 700px) {
        .homepageContainer .homepage__shape-3 .homepage__shape-overlay-button {
          bottom: 7rem; } }
    @media only screen and (max-width: 1024px) {
      .homepageContainer .homepage__shape-3 {
        width: 100vw;
        margin-left: 0;
        height: 100%;
        margin-top: -110px;
        clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%); } }
    .homepageContainer .homepage__shape-3:hover {
      width: 60vw;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%); }
      @media only screen and (max-width: 1024px) {
        .homepageContainer .homepage__shape-3:hover {
          width: 100vw;
          clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%); } }

.contentContainer {
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background-color: #f1e5c0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch; }

.productContainer .coffeeProducts,
.productContainer .teaProducts {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 7rem;
  justify-content: center; }

.productContainer {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .productContainer .productHeading {
    margin-bottom: 6rem;
    border-left: 1px solid #30271c;
    padding-left: 2rem;
    opacity: 0; }
    .productContainer .productHeading h2 {
      font-size: 4rem;
      font-weight: 300;
      color: #30271c;
      margin-bottom: 1rem; }
    .productContainer .productHeading .productSubheading {
      font-size: 2rem;
      color: #30271c;
      font-weight: 300; }
  .productContainer .coffeeProducts,
  .productContainer .teaProducts {
    margin-bottom: 8rem; }
  .productContainer .showMore__button {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: #30271c;
    color: #f1e5c0;
    align-self: center;
    display: flex;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 10px 15px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s;
    margin-bottom: 8rem;
    opacity: 0; }
    .productContainer .showMore__button:hover {
      transform: translateY(-5px); }
  .productContainer .productCard {
    width: 100%;
    height: 250px;
    border-radius: 5px;
    box-shadow: 5px 8px 10px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s;
    cursor: pointer;
    position: relative;
    opacity: 0; }
    .productContainer .productCard:hover {
      transform: translateY(-5px); }
    @media only screen and (max-width: 1420px) {
      .productContainer .productCard:nth-child(4) {
        display: none; } }
    @media only screen and (max-width: 720px) {
      .productContainer .productCard:nth-child(4) {
        display: block; } }
    @media only screen and (max-width: 1040px) {
      .productContainer .productCard:nth-child(3) {
        display: none; } }
    @media only screen and (max-width: 720px) {
      .productContainer .productCard:nth-child(3) {
        display: block; } }
    .productContainer .productCard__title {
      position: absolute;
      top: 50%;
      left: 1rem;
      transform: translateY(-50%);
      writing-mode: vertical-rl;
      text-orientation: upright; }
    .productContainer .productCard__button {
      position: absolute;
      bottom: 1rem;
      right: 2rem;
      display: flex;
      transition: transform 0.4s; }
      .productContainer .productCard__button img {
        align-self: center;
        margin-left: 0.5rem;
        width: 1.5rem; }
      .productContainer .productCard__button:hover {
        transform: translateX(-5px); }
    .productContainer .productCard__title, .productContainer .productCard__button {
      font-size: 1.5rem;
      font-weight: 300; }
