.homepageContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  z-index: 2;

  @media only screen and (max-width: 1024px) {
    flex-direction: column;
  }

  /* 
    * Styles for images on homepage
  */
  .homepage__shape-1,
  .homepage__shape-2,
  .homepage__shape-3 {
    height: 100%;
    transition: all 0.7s;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .homepage__shape-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      cursor: pointer;

      &-button {
        position: absolute;
        font-weight: 300;
        min-width: 150px;
        // width: fit-content;
        font-size: 2rem;
        letter-spacing: 2px;
        color: $color-light;
        text-align: center;
        display: flex;
        padding: 1rem 0rem;

        @media only screen and (max-width: 1024px) {
          min-width: 140px;
        }

        span {
          width: 100%;
          z-index: 1;
          padding: 0rem 1rem;
          text-align: center;
        }
        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 0;
          width: 2px;
          height: 100%;
          background-color: $color-light;
          transition: all 0.4s ease;
        }
        &::after {
          right: 0;
        }
        &:hover {
          transition: all 0.4s ease;
          letter-spacing: 1px;
          color: $color-black;
          @media only screen and (max-width: 1024px) {
            color: $color-light;
            letter-spacing: 2px;
          }
          &:before,
          &:after {
            width: 51%;

            @media only screen and (max-width: 1024px) {
              width: 2px;
            }
          }
        }
      }
    }
  }
  /* 
    * Styles for first image on homepage
  */
  .homepage__shape-1 {
    width: 40vw;
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);

    @media only screen and (max-width: 1024px) {
      width: 100vw;
      clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
    }
    .homepage__shape-overlay {
      @media only screen and (max-height: 700px) and (max-width: 500px) {
        padding-top: 100px;
      }
      &-button {
        bottom: 20rem;
        left: 10rem;
        @media only screen and (max-width: 1280px) {
          left: 7rem;
        }
        @media only screen and (max-width: 1024px) {
          left: 5rem;
          bottom: 10rem;
        }
      }
    }
  }
  .homepage__shape-1:hover {
    width: 50vw;
    clip-path: polygon(0 0, 60% 0, 100% 100%, 0 100%);

    @media only screen and (max-width: 1024px) {
      width: 100vw;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    }
  }

  /* 
    * Styles for second image on homepage
  */
  .homepage__shape-2 {
    width: 80vw;
    clip-path: polygon(0 0, 70% 0, 100% 100%, 25% 100%);
    margin-left: -250px;

    .homepage__shape-overlay {
      &-button {
        bottom: 50%;
        left: 50%;
        transform: translate(-50%);
      }
    }

    @media only screen and (max-width: 1024px) {
      width: 100vw;
      margin-left: 0;
      clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
      height: 200%;
      margin-top: -110px;
    }
  }
  .homepage__shape-2:hover {
    width: 100vw;
    clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%);
    @media only screen and (max-width: 1024px) {
      width: 100vw;
      clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    }
  }

  /* 
    * Styles for third image on homepage
  */
  .homepage__shape-3 {
    width: 50vw;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 47% 100%);
    margin-left: -300px;

    .homepage__shape-overlay {
      &-button {
        bottom: 20rem;
        right: 10rem;
        transform: translateY(-50%);

        @media only screen and (max-width: 1280px) {
          right: 7rem;
        }
        @media only screen and (max-width: 1024px) {
          right: 5rem;
          bottom: 10rem;
        }
        @media only screen and (max-height: 700px) {
          bottom: 7rem;
        }
      }
    }

    @media only screen and (max-width: 1024px) {
      width: 100vw;
      margin-left: 0;
      height: 100%;
      margin-top: -110px;
      clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
    }

    &:hover {
      width: 60vw;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%);

      @media only screen and (max-width: 1024px) {
        width: 100vw;
        clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
      }
    }
  }
}
